@{
    ViewBag.Title = "Home Page";
}
@section Breadcrumb{
    <a class="btn" href="~/Home/ShowCode01">說明app.tsx</a>
    <a class="btn" href="~/Home/ShowCode02">說明pub.ts</a>
}
@section scripts {
    <script src="~/Scripts/build/app/vendors.js"></script>
    <script src="~/Scripts/build/app/member.js"></script>
}
<div id="page_content"></div>
